---
---

@import "{{ site.theme }}";

.main-content table {
    font-size: 75%;
}

.main-content table th {
    white-space: nowrap;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 76rem;
    }
}
